
/*seletor universal

*{
    color:blue;
}
*/

/*codigos basicos de CSS*/
h1 {
    color:whitesmoke;
}
h2{
    color:whitesmoke;
}
ul{
    background-color:black;
}

body{
    background-color:black;
}
h1{
    color: green;
}
li{
    color:whitesmoke
}


/*seletor class*/
.férias{
    color:whitesmoke;
}
.divLorem{
    background-color:black;
}
.Link{
    color: whitesmoke;
}
.divli{
    background-color:black;
}

.divp{
    background-color:black;
}
/*seletor ID*/
#Lorem{
    color:whitesmoke;
}

/*codigo da cor em hexadecimal*/

/* Código do fundo */
body {
    background: linear-gradient(to right, #343a40 10%, #2d3238 20%, #26292e 35%, #202328 50%, #1a1d22 65%, #14171c 80%, #0e1116 90%, #080a0e 100%);
}

/* Muda a cor do texto ao passar o mouse por cima*/
p:hover {
    color:blue;
}

li:hover{
    color:blue;
}

/*links*/
a{
    text-decoration: none;
}
