.div1{
width: 50px;
height: 50px;
background-color: aquamarine;
padding: 15px;
border: 2px solid black;
 margin: 10px;
}
.div2{
width: 50px;
height: 50px;
background-color: royalblue;
padding: 15px;
border: 2px dashed black;
border-collapse: collapse;
 margin: 10px;
}
.div3{
width: 50px;
height: 50px;
background-color: crimson;
padding: 15px;
border: 2px solid black;
margin: 10px;
}
.divisao1{
display: inline-block;
margin: 10px;
}
.div4{
width: 50px;
height: 50px;
background-color: yellow;
padding: 15px;
border: 2px dashed black;
 margin: 10px;
}
.div5{
width: 50px;
height: 50px;
background-color: blanchedalmond;
padding: 15px;
border: 2px solid black;
 margin: 10px;
}
.div6{
width: 50px;
height: 50px;
background-color: darkorange;
padding: 15px;
border: 2px dashed black;
 margin: 10px;
}
.divisao2{
display: inline-block;
margin: 10px;
}
.div7{
width: 50px;
height: 50px;
background-color: olivedrab;
padding: 15px;
border: 2px double black;
 margin: 10px;
}
.div8{
width: 50px;
height: 50px;
background-color: whitesmoke;
padding: 15px;
border: 2px dashed black;
 margin: 10px;
}
.div9{
width: 50px;
height: 50px;
background-color: grey;
padding: 15px;
border: 2px solid black;
 margin: 10px;
}
.divisao3{
display: inline-block;
margin: 10px;
}
.div{
align-content: center;
text-align: center;
}
.maior{
align-content: center;
}
/*Ao passar o mouse por cima*/
.div1:hover{
    color:white
}
.div2:hover{
    color:white
}
.div3:hover{
    color:white
}
.div4:hover{
    color:white
}
.div5:hover{
    color:white
}
.div6:hover{
    color:white
}
.div7:hover{
    color:white
}
.div8:hover{
    color:white
}
.div9:hover{
    color:white
}
