.box{
    background-color: red;
    height: 200px;
    width: 300px; 
    padding: 15px;
    margin: 10 auto;
    text-align: center;
    align-content: center;
    display: inline-block;
}
.box2{
    background-color: blue;
    height: 200px;
    width: 300px; 
    padding: 15px;
    margin: 10 auto;
    text-align: center;
    align-content: center;
    display: inline-block;
}